<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Route</h2>
        </div>
        <div class="card-body">
          <div class="data-row">
            <div class="data-label">Vertrekpunt</div>
            <app-waypoint [city]="data().sourceCity" [company]="data().sourceCompany" />
          </div>
          <div class="data-row">
            <div class="data-label">Bestemming</div>
            <app-waypoint [city]="data().destinationCity" [company]="data().destinationCompany" />
          </div>
          <div class="data-row">
            <div class="data-label">Resterend</div>
            @if (data().timeRemaining) {
              <div class="data-item"><span>{{data().timeRemaining | timespan}}</span> / <span>{{data().distanceRemaining}} km </span>({{data().timeRemainingIrl | timespan}})</div>
            }
            @else {
              <div class="data-item">-</div>
            }
          </div>
          <div class="data-row">
            <div class="data-label">Volgend rustmoment</div>
            @if (data().restTimeRemaining) {
              <div class="data-item">{{data().restTimeRemaining | timespan}} ({{data().restTimeRemainingIrl | timespan}})</div>
            }
            @else {
              <div class="data-item">-</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Truck schade</h2>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="data-label">Motor</div>
                <div class="data-item">{{data().damageTruckEngine}} %</div>
              </div>
              <div class="col-6">
                <div class="data-label">Transmissie</div>
                <div class="data-item">{{data().damageTruckTransmission}} %</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="data-label">Cabine</div>
                <div class="data-item">{{data().damageTruckCabin}} %</div>
              </div>
              <div class="col-6">
                <div class="data-label">Chassis</div>
                <div class="data-item">{{data().damageTruckChassis}} %</div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="data-label">Wielen</div>
                <div class="data-item">{{data().damageTruckWheels}} %</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Opdracht</h2>
        </div>
        <div class="card-body">
          <div class="data-row">
            <div class="data-label">Deadline</div>
            @if (data().jobTimeRemaining) {
              <div class="data-item">{{data().jobTimeRemaining | timespan}} ({{data().jobTimeRemainingIrl | timespan}})</div>
            }
            @else {
              <div class="data-item">-</div>
            }
          </div>
          <div class="data-row">
            <div class="data-label">Inkomen</div>
            @if (data().jobIncome) {
              <div class="data-item" id="jobIncome">&euro; {{data().jobIncome | numbernl}}</div>
            }
            @else {
              <div class="data-item" id="jobIncome">-</div>
            }
          </div>
          <div class="data-row">
            <div class="data-label">Lading</div>
            @if (data().jobCargoName) {
              <div class="data-item" id="jobCargoName">{{data().jobCargoName}} ({{data().jobCargoMass | numbernl}} kg)</div>
            }
            @else {
              <div class="data-item" id="jobCargoName">-</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Trailer schade</h2>
        </div>
        <div class="card-body">
          <div *ngIf="data().numberOfTrailersAttached <= 0">Geen trailer gekoppeld</div>
          <div class="container" [class.hidden]="data().numberOfTrailersAttached <= 0">
            <div class="row">
              <div class="col-6">
                <div class="data-label">Chassis</div>
                <div class="data-item">{{data().damageTrailerChassis}} %</div>
              </div>
              <div class="col-6">
                <div class="data-label">Opbouw</div>
                <div class="data-item">{{data().damageTrailerBody}} %</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="data-label">Wielen</div>
                <div class="data-item">{{data().damageTrailerWheels}} %</div>
              </div>
              <div class="col-6">
                <div class="data-label">Lading</div>
                <div class="data-item">{{data().damageTrailerCargo}} %</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-12 dashboard-row">
      <div class="left-column col-4">
        <img class="dashboard-light" id="low-beam" src="/assets/images/low-beam.svg" [ngClass]="{'filter-green': data().lowBeamOn}">
        <img class="dashboard-light" id="high-beam" src="/assets/images/high-beam.svg"  [ngClass]="{'filter-blue': data().highBeamOn}">
        <img class="dashboard-light" id="indicator-left" src="/assets/images/arrow-left.svg" [ngClass]="{'filter-green': data().blinkerLeftOn}">
        <img class="dashboard-light" id="hazard-lights" src="/assets/images/hazard.svg" [ngClass]="{'filter-orange': data().hazardLightsOn}">
        <img class="dashboard-light" id="indicator-right" src="/assets/images/arrow-right.svg" [ngClass]="{'filter-green': data().blinkerRightOn}">
        <img class="dashboard-light" id="brake-warning" src="/assets/images/brake-warning.svg" [ngClass]="{'filter-red': data().parkingBrakeOn}">
        <img class="dashboard-light" id="battery-warning" src="/assets/images/battery.svg" [ngClass]="{'filter-red': data().batteryWarningOn}">
        <img class="dashboard-light" id="engine-water-temp-warning" src="/assets/images/engine-coolant.svg" [ngClass]="{'filter-red': data().engineWaterTempWarningOn }">
        <img class="dashboard-light" id="oil-pressure-warning" src="/assets/images/oil-can.svg" [ngClass]="{'filter-red': data().oilPressureWarningOn}">
        <img class="dashboard-light" id="wipers" src="/assets/images/wipers.svg" [ngClass]="{'filter-blue': data().wipersOn}">
      </div>

      <div class="center-column col-4" style="height: 100%;">
        <app-speedometer [rpm]="data().rpm" [speed]="data().speed" [gear]="data().gear" [multiReverse]="true" />
      </div>

      <div class="right-column col-4">
        <div class="speed-limit" [ngClass]="{'hidden': !data().speedLimit, 'over-speed-limit': data().speed > data().speedLimit}">{{data().speedLimit}}</div>
        <div class="icon-text-control">
          <img class="dashboard-light filter-white" src="/assets/images/fuel.svg" [ngClass]="{'filter-orange': data().fuelWarningOn}">
          <div id="fuelDistance">{{data().fuelDistance}} km</div>
        </div>
        <div class="icon-text-control" [ngClass]="{'hidden': !data().cruiseControlOn}">
          <img class="dashboard-light" src="/assets/images/cruise-control.png">
          <div>{{data().cruiseControlSpeed}} km/h</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-row">
    <div class="card col-12">
      @if(data().truckName) {
        <span id="truckName">{{data().truckName}}</span>
      }
      @else {
        <span id="truckName">&nbsp;</span>
      }
      <span class="clock">{{data().gameTime | date: 'HH:mm'}}</span>
    </div>
  </div>
</div>
