<div class="container-fluid">
  <div class="row">
    <div class="card col-4">
      <div class="card-header">
        <h2 class="card-title">Route</h2>
      </div>
      <div class="card-body">
        <div class="data-row">
          <div class="data-label">Vertrekpunt</div>
          <div class="data-item" *ngIf="!data.departureCity && !data.departureCompany" id="departure">-</div>
          <div class="data-item" *ngIf="data.departureCity && !data.departureCompany" id="departure">{{data.departureCity}}</div>
          <div class="data-item" *ngIf="data.departureCity && data.departureCompany" id="departure">{{data.departureCity}} ({{data.departureCompany}})</div>
        </div>
        <div class="data-row">
          <div class="data-label">Bestemming</div>
          <div class="data-item" *ngIf="!data.destinationCity && !data.destinationCompany" id="destination">-</div>
          <div class="data-item" *ngIf="data.destinationCity && !data.destinationCompany" id="destination">{{data.destinationCity}}</div>
          <div class="data-item" *ngIf="data.destinationCity && data.destinationCompany" id="destination">{{data.destinationCity}} ({{data.destinationCompany}})</div>
        </div>
        <div class="data-row">
          <div class="data-label">Resterend</div>
          <div class="data-item"><span>2d 13:24</span> / <span>{{data.distanceRemaining}} km</span>(02:16)</div>
        </div>
        <div class="data-row">
          <div class="data-label">Volgend rustmoment</div>
          <div class="data-item" *ngIf="!data.restTimeRemaining">-</div>
          <div class="data-item" *ngIf="data.restTimeRemaining">{{data.restTimeRemaining | timespan}} ({{data.restTimeRemainingIrl | timespan}})</div>
        </div>
      </div>
    </div>

    <div class="card col-4">
      <div class="card-header">
        <h2 class="card-title">Opdracht</h2>
      </div>
      <div class="card-body">
        <div class="data-row">
          <div class="data-label">Deadline</div>
          <div class="data-item" *ngIf="!data.jobTimeRemaining">-</div>
          <div class="data-item" *ngIf="data.jobTimeRemaining">{{data.jobTimeRemaining | timespan}} ({{data.jobTimeRemainingIrl | timespan}})</div>
        </div>
        <div class="data-row">
          <div class="data-label">Inkomen</div>
          <div class="data-item" *ngIf="!data.jobIncome">-</div>
          <div class="data-item" *ngIf="data.jobIncome">&euro; {{data.jobIncome | number}}</div>
        </div>
        <div class="data-row">
          <div class="data-label">Lading</div>
          <div class="data-item" *ngIf="!data.jobCargoDescription">-</div>
          <div class="data-item" *ngIf="data.jobCargoDescription">{{data.jobCargoDescription}}</div>
        </div>
      </div>
    </div>

    <div class="card col-4">
      <div class="card-header">
        <h2 class="card-title">Schade</h2>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="data-label">Motor</div>
              <div class="data-item">1 %</div>
            </div>
            <div class="col-6">
              <div class="data-label">Transmissie</div>
              <div class="data-item">1 %</div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="data-label">Cabine</div>
              <div class="data-item">1 %</div>
            </div>
            <div class="col-6">
              <div class="data-label">Chassis</div>
              <div class="data-item">1 %</div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="data-label">Wielen</div>
              <div class="data-item">1 %</div>
            </div>
            <div class="col-6">
              <div class="data-label">Trailer</div>
              <div class="data-item">1 %</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="card col-12 dashboard-row">
      <div class="left-column col-4">
        <img class="dashboard-light" id="low-beam" src="/assets/images/low-beam.svg" [ngClass]="data.lowBeamOn ? 'filter-green' : 'transparent'">
        <img class="dashboard-light" id="high-beam" src="/assets/images/high-beam.svg"  [ngClass]="data.highBeamOn ? 'filter-blue' : 'transparent'">
        <img class="dashboard-light" id="brake-warning" src="/assets/images/brake-warning.svg"  [ngClass]="data.parkingBrakeOn ? 'filter-red' : 'transparent'">
        <img class="dashboard-light" id="battery-warning" src="/assets/images/battery.svg"  [ngClass]="data.batteryWarningOn ? 'filter-red' : 'transparent'">
        <img class="dashboard-light" id="hazard" src="/assets/images/hazard.svg" [ngClass]="data.lowBeamOn ? 'filter-green' : 'transparent'">
        <img class="dashboard-light" id="engine-coolant" src="/assets/images/engine-coolant.svg" [ngClass]="data.lowBeamOn ? 'filter-green' : 'transparent'">
        <img class="dashboard-light" id="oil-temp" src="/assets/images/oil_temp.svg" [ngClass]="data.lowBeamOn ? 'filter-green' : 'transparent'">
      </div>

      <div class="center-column col-4">
        <progress id="rpm" value="10" max="100"></progress>
        <div class="current-speed">{{data.speed}}</div>
        <div class="speed-unit">km/h</div>
        <div class="current-gear">{{data.gear | gear}}</div>
      </div>

      <div class="right-column col-4">
        <div class="speed-limit" *ngIf="!data.speedLimit">{{data.speedLimit}}</div>
        <div class="icon-text-control">
          <img class="dashboard-light" src="/assets/images/cruise-control.png">
          <div>{{data.cruiseControlSpeed}} km/h</div>
        </div>
        <div class="icon-text-control">
          <img class="dashboard-light" src="/assets/images/fuel.svg">
          <div>{{data.fuelDistance}} km</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-row">
    <div class="card col-12">
      <span>Scania P500</span>
      <span class="clock">14:32 (8:09)</span>
    </div>
  </div>
</div>
