app-truck-display {
  height: 100vh;
  font-family: Poppins, sans-serif;
  color: white;

  .row {
    margin-top: 15px;
  }

  .card {
    background-color: #27293d;
    border-radius: 20px;
    height: 100%;
    padding: 5px;
  }

  .data-label {
    color: gray;
    font-size: .8vw;
  }

  .data-item {
    font-size: 1vw;
  }

  .card-header {
    border: none;
    padding-bottom: 0;
  }

  .card-title {
    font-size: 1.2vw;
  }

  .dashboard-row {
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
  }

  .center-column {
    border-radius: 50px;
    background-color: darkgray;
  }

  .left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 50px;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    gap: 40px;
  }

  .dashboard-light {
    width: 2em;
    height: auto;
  }

  .speed-limit {
    display: inline-block;
    border:.5rem solid red;
    border-radius: 50%;
    background-color: white;
    color:black;
    font-size: 1vw;
    font-weight: 600;
    width: 5vw;
    aspect-ratio: 1;
    text-align: center;
    padding-top: 1.3vw;
    position: relative;
    left: 50px;
    margin-top: 20px;
  }

  .over-speed-limit {
    color: red;
  }

  .icon-text-control {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
  }

  .current-speed {
    font-size: 6vw;
    text-align: center;
    margin-top: -20px;
  }

  .speed-unit {
    font-size: 1em;
    text-align: center;
    position: relative;
    top: -40px;
  }

  .current-gear {
    font-size: 2.6vw;
    text-align: center;
    margin-top: -20px;
  }

  #rpm {
    width: calc(100% - 40px);
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .footer-row {
    font-size: 1vw;
  }

  .footer-row .clock {
    position: absolute;
    right: 6px;;
  }

  .filter-white{
    filter: invert(100%) sepia(24%) saturate(2%) hue-rotate(284deg) brightness(103%) contrast(101%);
  }

  .filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }

  .filter-blue{
    filter: invert(8%) sepia(99%) saturate(7448%) hue-rotate(247deg) brightness(92%) contrast(145%);
  }

  .filter-red{
    filter: invert(16%) sepia(97%) saturate(6444%) hue-rotate(358deg) brightness(100%) contrast(110%);
  }

  .filter-orange{
    filter: brightness(0) saturate(100%) invert(56%) sepia(31%) saturate(3171%) hue-rotate(1deg) brightness(104%) contrast(104%);
  }

  .hidden {
    visibility: hidden;
  }
}
