app-rally-display {
  app-data-element {
    label {
      text-transform: uppercase;
      font-size: 1.5vw;
      text-align: right;
      color: gold;
    }
  }

  app-data-group {
    h1 {
      text-transform: uppercase;
      font-size: 1.5vw;
      text-align: left;
    }
  }

  app-speedometer {
    * {
      color: white;
    }

    label {
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      font-size: 2vw;
    }

    .rpm, .speed {
      font-size: 4vw;
    }

    .gear {
      text-align: center;
      font-size: 10vw;
    }
  }

  .container {
    max-width: unset;
    color: white;
    font-size: 3vw;
    text-align: right;
  }

  .group-border {
    border: white 4px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    height: 100%;
  }
}
