.container {
  max-width: unset;
  color: white;
  font-size: 32pt;
  text-align: right;
}

.row {
  margin-top: 10px;
}

.label {
  text-transform: uppercase;
  font-size: 16pt;
  text-align: right;
  color: gold;
}

.text-center {
  text-align: center;
}

.clock {
  text-align: left;
}

.sessionType {
  text-align: right;
}

.delta-time {
  font-weight: bold;
  text-align: center;
}

.best-laptime {
  color: purple;
}

.driver-name {
  color: yellowgreen;
  text-align: center;
}

.opponent-delta {
  text-align: center;
}

.group-border {
  border: white 4px solid;
  padding: 10px 20px 10px 20px;
}

.border-radius-top-right {
  border-top-right-radius: 20px;
}

.border-radius-top-left {
  border-top-left-radius: 20px;
}

.border-radius-bottom-right {
  border-bottom-right-radius: 20px;
}

.border-radius-bottom-left {
  border-bottom-left-radius: 20px;
}

.border-blue {
  border-color: rgba(0, 0, 255, 0.555);
}

.border-yellow {
  border-color: yellow;
}

#rpm {
  font-size: 5rem;
}

#speed {
  font-size: 5rem;
}

.gear {
  text-align: center;
  font-size: 180px;
}

.hidden {
  visibility: hidden;
}

#clutch {
  width: 100%;
  accent-color: royalblue;
}

#throttle {
  width: 100%;
  accent-color: green;
}

#brake {
  width: 100%;
  accent-color: red;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-yellow {
  color: yellow;
}

.pit-limiter {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  font-size: 62pt;
  color: black;
  padding: 5px 45px 5px 45px;
  border-radius: 15px;
}

.flag {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 33%;
  height: 135px;
  transform: translateX(-50%);
  border-radius: 15px;
}

.flag.yellow {
  background-color: yellow;
}

.flag.green {
  background-color: green;
}

.flag.white {
  background-color: white;
}

.flag.blue {
  background-color: blue;
}

.flag.red {
  background-color: red;
}

.flag.black {
  background-color: black;
  border: 1px solid white;
}

.flag.black-orange {
  background-color: black;
  border: 1px solid white;
}

.flag.black-orange::after {
  content: '';
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  aspect-ratio: 1;
}

.blink {
  animation: blinker 2s linear infinite;
}

.blink-text {
  animation: text-blinker 2s linear infinite;
}

@keyframes text-blinker {
  50% {
    color: transparent;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
