<div class="main-container">
  <div class="rpm-bar">
    <div class="rpm-fill" [style.width]="rpmPercentage+ '%'" [style.background-color]="rpmFillColor"></div>
    <div class="rpm-label" [style.color]="rpmLabelColor">{{data.rpm}}</div>
  </div>
  <div class="columns">
    <div class="column-1">
      <!-- Row 1 -->
      <div>
        <div>{{data.position}}</div>
        <div>{{data.completedLaps}}</div>
      </div>
    </div>
    <div class="column-2">
      <div class="gear display-element">{{data.gear === 0 ? 'N' : data.gear === -1 ? 'R' : data.gear}}</div>
      <div class="speed display-element">{{data.speed}}</div>
    </div>
    <div class="column-3">
    </div>
  </div>
  <!-- Flag -->
  <div class="flag" [style.background-color]="flagColor"></div>
</div>
